:root {
    background-image: url('./assets/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 20px;
    width: 1300px;
    height: 1000vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    padding: 0px 0 200px 0;   
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0 90px;
    margin-top: 20px;
    height: 800px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgb(120,117,255);
    border-radius: 40px;
    margin: auto;
    opacity: 0.95;
    width: 600px;
    height: 70px;
    padding: 0 10px 0px 10px;
    gap: 20px;
    justify-items: center;
    align-items: center; 
    position: fixed;
    font-weight: 600;
    margin-top: 40px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background: linear-gradient(176deg, #2383E2, #7875FF);
    height:46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}

.desc .desc-detail .name {
    background-color: #FDE68A;
    font-size: 42px;
    font-weight: 700;
    width: 547px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 25px;
}

.desc .desc-detail .study {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 35;
    text-align: justify;
    line-height: 30px;
}

.desc .desc-detail .skills {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.desc .desc-detail .skills p{
    margin: 0;
    border: 1.5px #2383E2 solid;
    padding: 8px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
}

#header-main {
    color: black;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 40px 0 40px 0;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 400;
    padding: 0 90px 0 90px;
}

.container-list .container-image img {
    width: 80px;
}

.container-list .container-detail {
    width: 990px;
}

.container-list .container-detail .container-name {
    margin: 0;
    font-weight: bold;
}

.container-list .container-detail .container-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-list .container-detail .container-title .detail-title .title-date {
    font-weight: normal;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container-list .container-detail .container-title .detail-title .title-date p {
    margin: 0;
}

.container-list .container-detail .container-title .detail-title ul {
    margin: 0;
}

.container-list .container-detail .container-title .detail-title p {
    margin-top: 10px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
    row-gap: 40px;
}

.project-card {
    max-width: 400px;
    max-height: 800px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgb(120,117,255);
    overflow: hidden;
}

.project-card .project-image {
    width: 400px;
    height: 200px;
    /* border-bottom: 1px solid #7875FF; */
}

.project-detail {
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0;
    gap: 12px;
}

.project-title {
    background: linear-gradient(176deg, #2383E2, #7875FF);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 40px;
    display: flex;
}

.project-title p {
    margin: 0;
}

.project-desc {
    font-weight: normal;
    font-size: 16px;
    margin: 0;

}

.tech-used img {
    max-width: 40px;
    max-height: 40px;
    margin: 14px;
}
